:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/*
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 80vh;
}*/

h1 {
  font-size: 3em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input, select {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.3em 0.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.searchInput {
  width: 140px;
}

header {
  text-align: center;
}

button {
  margin: 4px;
}

.pencil-button {
  padding: 5px;
  vertical-align: middle;
  background-color: #ffffff;
}

.card-container {
  height: 200px;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 5%;
  perspective: 1000px;
}

.options-panel {
  position: fixed;
  width: 100%;
  left: 0;
  box-shadow: 0px 1px 1px #ccc;
  background-color: #242424;
}

.options-panel>* {
  display: inline-block;
}

.options-panel-on {
  top: 0;
  transition: 0.5s;
}

.options-panel-off {
  height: 0px;
  top: calc(0vh - 200px);
  transition: 0.5s;
}

.icon {
  position: relative;
  z-index: 10;
  margin: 0;
}

.quiz-answer-choice {
  display: block;
  padding: 0.8em;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border: 1px solid #000;
  border-radius: 8px;
}

:global(.match-result):hover {
  cursor: pointer;
  outline: 1px solid #000;
}

.quiz-answer-choice:hover {
  cursor: pointer;
}

#search-front-choice, #search-back-choice {
  display: inline-block;
}

@media (max-width: 500px) {
  .options-panel {
    padding-top: 7%;
    padding-bottom: 2%;
  }
}

@media (max-width: 1000px) and (min-width: 501px) {
  .options-panel {
    padding-top: 5%;
    padding-bottom: 2%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .options-panel {
    background-color: #ffffff;
  }
  .pencil-button {
    background-color: #f9f9f9;
  }
}
.cardInner.svelte-tkacgb{border:1px solid #000;border-radius:10px;position:relative;width:100%;height:100%;box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);transition:transform 0.6s;transform-style:preserve-3d;padding:3px}.cardInner.svelte-tkacgb:hover,.cardInnerFlipped.svelte-tkacgb:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.5)}.cardInnerFlipped.svelte-tkacgb{border:1px solid #000;border-radius:10px;position:relative;width:100%;height:100%;box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);transition:transform 0.6s;transform-style:preserve-3d;transform:rotateY(180deg);padding:3px}.front.svelte-tkacgb,.back.svelte-tkacgb{width:100%;height:100%;backface-visibility:hidden;-webkit-backface-visibility:hidden}.front.svelte-tkacgb{display:flex;align-items:center;justify-content:center;font-size:40px}.back.svelte-tkacgb{transform:rotateY(180deg);display:flex;flex-direction:column;justify-content:center}.back.svelte-tkacgb .field{font-weight:bold}.counter.svelte-1stcjer p.svelte-1stcjer{display:inline-block}.navigate.svelte-6mz84w button.svelte-6mz84w{display:inline-block}